/* CSS by Kaitlyn Murray */

/* ----- Imported Fonts ----- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ----- CSS Reset ----- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- Root Variables ----- */
:root {
  /* --- Colors --- */
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;

  /* --- Fonts --- */
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;

  /* --- Other --- */
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* ----- Manual Light/Dark Mode Styles ----- */
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}

body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}

#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ----- Global Styles ----- */
/* --- Skip Link --- */
#skip {
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip:focus {
  position: relative;
  width: auto;
  height: auto;
}

/* --- Nav --- */
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  position: absolute;
  height: 0;
  margin: 0 1rem;
  overflow: hidden;
  background-color: var(--blue-bulletin);
}

.menu-button {
  display: block;
  background-color: var(--news-flash);
  text-transform: uppercase;
  text-align: center;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
  text-align: center;
  margin: 1rem;
}

/* --- Body --- */
body {
  width: 100%;
  min-width: 400px;
  background-color: var(--watchdog-white);
  color: var(--truth-text);
  font-family: var(--font-body);
  font-size: 1em;
  line-height: 1.5em;
}

header, footer {
  width: 100%;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
}

h1, h2, h3 {
  font-family: var(--font-heading);
  font-weight: bold;
}

input[type=checkbox] {
  cursor: pointer;
}

/* ----- Medium Styles: 620px ----- */


/* ----- Large Styles: 920px ----- */


/* ----- XLarge Styles: 1024px ----- */


/* ----- Queries ----- */
/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* --- Menu Toggle --- */
@supports (selector(:has(*))) {
  #menu-toggle:checked ~ ul { 
    height: 100px;
  }
}
