/* CSS by Kaitlyn Murray */

/* ----- Imported Fonts ----- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ----- CSS Reset ----- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- Root Variables ----- */
:root {
  /* --- Colors --- */
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;

  /* --- Fonts --- */
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;

  /* --- Other --- */
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* ----- Manual Light/Dark Mode Styles ----- */
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}

body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}

#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ----- Global Styles ----- */
/* --- Skip Link --- */
#skip {
  position: absolute;
  top: auto;
  width: 0;
  height: 0;
  overflow: hidden;
}

#skip:focus {
  width: auto;
  height: auto;
}

/* --- Nav --- */
.menu-button {
  display: block;
  background-color: var(--news-flash);
  border: 1px solid var(--blue-bulletin);
  text-transform: uppercase;
  text-align: center;
  margin: 0.5rem 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  background-color: var(--blue-bulletin);
  margin: 0 1.5rem;
  padding: 0 2px;
  box-shadow: var(--shadow);
}

nav a {
  display: block;
  padding: 0.5rem 0.25rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}

nav a:hover, .menu-button:hover, footer a:hover{
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
}

/* --- Body --- */
body {
  width: 100%;
  min-width: 400px;
  background-color: var(--watchdog-white);
  color: var(--truth-text);
  font-family: var(--font-body);
  font-size: 1em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--watchdog-white);
  background-color: var(--news-flash);
}

a, input[type=checkbox] {
  cursor: pointer;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 3em;
  padding: 2rem 1.5rem 1.5rem;
  font-variation-settings: "wght" 50;
}

h2 {
  font-size: 1.5em;
  padding: 2rem 0 0.5rem;
  font-variation-settings: "wght" 350, "wdth" 200;
}

h3 {
  font-size: 1.2em;
  font-variation-settings: "wght" 200, "wdth" 150;
}

header, footer {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
}

header {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--truth-text);
}

header p {
  padding-left: 1.5rem;
}

.tagline {
  font-family: var(--font-heading);
  font-size: 1em;
  font-variation-settings: "wdth" 50, "wght" 550;
}

main {
 padding: 0 1.5rem; 
}

blockquote.tagline {
  text-align: center;
  padding-top: 1rem; 
}

article {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 0.5rem 0.5rem;
  transition: transform 400ms ease-in-out;
}

video {
  left: 0;
  right: 0;
  width: 100%;
}

article h3 {
  padding-bottom: 3px;
}

article p {
  padding-top: 0.5rem;
}

#breaking-news article, form {
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  border: 1px solid var(--truth-text);
  box-shadow: var(--shadow);
}

#breaking-news h3 {
  border-bottom: 1px solid var(--watchdog-white);
}

#breaking-news p {
  font-variation-settings: "wght" 350;
}

#featured-articles article {
  border: 1px solid var(--story-subtitle);
  box-shadow: var(--shadow);
}

#featured-articles h3 {
  border-bottom: 1px solid var(--story-subtitle);
}

article:hover {
  transform: scale(1.05);
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0.25rem 0.5rem 1rem;
  padding: 1rem;
}

input[type="text"], input[type="tel"] {
  height: 2rem;
  margin-bottom: 1rem;
}

fieldset {
  border: 1px solid var(--blue-bulletin);
  display: grid;
  grid-template-columns: 2rem 1fr;
  row-gap: 1rem;
  align-items: end;
  padding: 0.75em 0;
}

legend {
  text-transform: uppercase;
  margin-left: 0.5rem;
}

form input[type="checkbox"] {
  height: 1.25rem;
}

form button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  text-transform: uppercase;
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  box-shadow: var(--shadow);
  padding: 0.5rem;
  transition: all 300ms ease-in-out;
}

form button:hover {
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
  border: 1px solid var(--blue-bulletin);
  cursor: pointer;
}

footer {
  padding: 1rem 1.5rem;
}

footer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem 1rem;
  margin: 1rem 1rem 3rem 0;
}

footer a {
  padding: 0.5rem;  
  transition: all 300ms ease-in-out;
}

footer p {
  text-align: center;
}

/* ----- Medium Styles: 620px ----- */
@media screen and (min-width: 620px) {
  #breaking-news, #featured-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    row-gap: 0.5rem;
  }

  #breaking-news h2, #featured-articles h2 {
    grid-column: 1/-1;
  }

  fieldset {
    grid-template-columns: 2rem 1fr 2rem 1fr;
  }

  .menu-button {
    position: absolute;
    height: 0;
    width: 0;
    left: -10000px;
    overflow: hidden;
    opacity: 0;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    height: auto;
    margin: 0.5rem 1.5rem;
    position: relative;
    box-shadow: none;
  }
}

/* ----- Large Styles: 920px ----- */
@media screen and (min-width: 920px) {
  #featured-articles {
    grid-template-columns: 1fr 1fr 1fr;
  }

  fieldset {
    grid-template-columns: 2rem 1fr 2rem 1fr 2rem 1fr;
  }
}

/* ----- XLarge Styles: 1024px ----- */
@media screen and (min-width: 1024px) {
  main {
    max-width: 920px;
    margin: 0 auto;
  }

  header > *, footer > *{
    max-width: 920px;
    margin: 0 auto;
  }

  .menu {
    margin-left: 0;
  }

  footer ul {
    margin: 1rem auto 3rem;
  }
}

/* ----- Queries ----- */
/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* --- Menu Toggle --- */
@supports (selector(:has(*))) {
  #menu-toggle:checked ~ ul { 
    height: 175px;
  }
}
